<!DOCTYPE html>
<html>
<head>
  <title>Lovebus</title>
  <link href="//d2v52k3cl9vedd.cloudfront.net/basscss/7.0.4/basscss.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body style="background: #0E0E0E;">
<%= yield %>
</body>
</html>
